In [2]:
import pandas as pd

In [3]:
data= pd.read_csv("Draft_table.csv")
data

,Pk,Tm,Player,Player2,College,Year,Pro_height,Pro_weight,DOB,PreNBA_height,PreNBA_weight
0,1,CLE,lebron-james,lebron-james,NaN,2003,81.0,250.0,12/30/1984,NaN,NaN
1,2,DET,darko-miličić,darko-milicic,NaN,2003,84.0,250.0,6/20/1985,NaN,NaN
2,3,DEN,carmelo-anthony,carmelo-anthony,Syracuse,2003,79.0,238.0,5/29/1984,80.0,230.0
3,4,TOR,chris-bosh,chris-bosh,Georgia Tech,2003,83.0,235.0,3/24/1984,82.0,228.0
4,5,MIA,dwyane-wade,dwyane-wade,Marquette,2003,76.0,220.0,1/17/1982,76.0,212.0
...,...,...,...,...,...,...,...,...,...,...,...
1072,56,CHO,grant-riller,grant-riller,College of Charleston,2020,74.0,190.0,2/8/1997,75.0,190.0
1073,57,LAC,reggie-perry,reggie-perry,Mississippi State,2020,80.0,250.0,3/21/2000,82.0,250.0
1074,58,PHI,paul-reed,paul-reed,DePaul,2020,81.0,210.0,6/14/1999,81.0,220.0
1075,59,TOR,jalen-harris,jalen-harris,Nevada,2020,77.0,195.0,8/14/1998,77.0,195.0
1076,60,NOP,sam-merrill,sam-merrill,Utah State University,2020,76.0,205.0,5/15/1996,77.0,205.0

In [4]:
cleandata=data[["Tm", "Player2", "College", "Year", "Pro_height", "Pro_weight", "DOB"]]
cleandata

,Tm,Player2,College,Year,Pro_height,Pro_weight,DOB
0,CLE,lebron-james,NaN,2003,81.0,250.0,12/30/1984
1,DET,darko-milicic,NaN,2003,84.0,250.0,6/20/1985
2,DEN,carmelo-anthony,Syracuse,2003,79.0,238.0,5/29/1984
3,TOR,chris-bosh,Georgia Tech,2003,83.0,235.0,3/24/1984
4,MIA,dwyane-wade,Marquette,2003,76.0,220.0,1/17/1982
...,...,...,...,...,...,...,...
1072,CHO,grant-riller,College of Charleston,2020,74.0,190.0,2/8/1997
1073,LAC,reggie-perry,Mississippi State,2020,80.0,250.0,3/21/2000
1074,PHI,paul-reed,DePaul,2020,81.0,210.0,6/14/1999
1075,TOR,jalen-harris,Nevada,2020,77.0,195.0,8/14/1998
1076,NOP,sam-merrill,Utah State University,2020,76.0,205.0,5/15/1996

In [6]:
updated_df=cleandata.rename(columns={"Tm":"Team", "Player2":"Player", "Year":"Draft_Year", "Pro_height":"Pro_height_inches", "Pro_weight":"Pro_weight_lb", "DOB":"Date of Birth"})
updated_df

,Team,Player,College,Draft_Year,Pro_height_inches,Pro_weight_lb,Date of Birth
0,CLE,lebron-james,NaN,2003,81.0,250.0,12/30/1984
1,DET,darko-milicic,NaN,2003,84.0,250.0,6/20/1985
2,DEN,carmelo-anthony,Syracuse,2003,79.0,238.0,5/29/1984
3,TOR,chris-bosh,Georgia Tech,2003,83.0,235.0,3/24/1984
4,MIA,dwyane-wade,Marquette,2003,76.0,220.0,1/17/1982
...,...,...,...,...,...,...,...
1072,CHO,grant-riller,College of Charleston,2020,74.0,190.0,2/8/1997
1073,LAC,reggie-perry,Mississippi State,2020,80.0,250.0,3/21/2000
1074,PHI,paul-reed,DePaul,2020,81.0,210.0,6/14/1999
1075,TOR,jalen-harris,Nevada,2020,77.0,195.0,8/14/1998
1076,NOP,sam-merrill,Utah State University,2020,76.0,205.0,5/15/1996

In [7]:
updated_df.to_csv(r'clean_draft_table.csv', index=False, header=True)